/target

# Claude Code
*.stackdump

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor
*.swp
*.swo
*~
.DS_Store

# test
bench_output.txt
ui/トレサ.png
ui/test.gif

# resources
resources/

# Slint Document
docs/development
